{% extends "layout.html" %}
{% block body %}  

<h3>hakkımda</h3>   
<hr>
merhaba benim adım muhammed sefa yılmaz fırat üniversitesi fizyoterapi ve rehabilitasyon bölümünü 3. sınıf öğrencisiyim.ağrı merkezde doğdum 2002 doğumluyum liseyi naci gökçe anadolu lisesinde okudum . 
bu siteyi kurmamadaki amaç insanların ağrılarını egzersizlerle azaltmaya çalışmak.günümüzde çoğu insan bel ağrısı,boyun ağrısı,skolyoz(omurga eğriliği),fıtık gibi hastalıkların neden olduğu ağrılardan şikayetçidirler.
site şu şekilde çalışacak;kullanıcı siteye giriş sağladıktan sonra ağrısının ne olduğunu söyleyecek ve ona uygun olarak egzersizler hazırlanp ekrana bir animasyon karekteri yansıtılacak bu  animasyon karakter ile birlikte egersizler tekrarlanır.
bu şekilde çocuklara egzersizler sevdirilir.Egzersizler hayatımızın her tarafında karşımıza çıkmaktadır. örneğin üst rafta bulunan bardağı almak için omuz kaslarımızın çalışabilir durumda olması gerekiyor yada bardağı tutmak için kolumuzda bulunan fleksör kasların görevini yerine getirmesi gerekir.
umarım sağlıklı ve egzersiz dolu bir hayat yaşarsınız
<hr>


{% endblock %}
