{% extends "layout.html" %}
{% block body %}
<h3>kontrol panali</h3>
<small>hoşgeldiniz {{session["username"]}} </small>
<hr>
{% if articles %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">makale adı</th>
        <th scope="col">yazar</th>
        <th scope="col">tarih </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles%}
         <tr>
        <th scope="row">{{article.id}}</th>
        <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
        <td>{{article.auther}}</td>
        <td>{{article.created_date}}</td>
        <td><a href="/edit/{{article.id}}" class="btn btn-primary">güncelle</a></td>
        <td><a href="/delete/{{article.id}}" class="btn btn-danger">sil</a></td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% else %}
<div class="alert-alert danger">makale bulunmamaktadır...</div>
{% endif %}
<a href="/addarticle" class="btn btn-danger">makale ekle</a>
{% endblock body %}