{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron text-center bg-secondary">
        <h3 class="text-center">fizyo egzersize hoşgeldiniz</h3>
        <p class="text-center">merhaba sitede dilediğiniz egzersizleri bulabilirsiniz</p>
    </div> 
    <hr>
<!--templatelerde koşul 
{% if işlem==1 %}
<p>işlem 1 </p>
{% elif  işlem==2 %}
<p>işlem 2</p>
{% elif  işlem==3 %}
<p>işlem 3</p>
{% elif  işlem==4 %}
<p>işlem 4</p>
{% else %}
<p>geçersiz işlem ...</p>
{% endif %}
-->
<!--templatelerde for döngüsü
<ul>
    {% for article in articles %}
        <li> article Id:{{article.id}}-title: {{article.title}}-content:{{article.content}}</li>
    {% endfor %}

</ul>-->

{% endblock %}